[submodule "go/src/sigs.k8s.io/sig-storage-local-provision"]
	path = go/src/sigs.k8s.io/sig-storage-local-provision
	url = https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner.git
[submodule "go/src/sigs.k8s.io/sig-storage-local-static-provisioner"]
	path = go/src/sigs.k8s.io/sig-storage-local-static-provisioner
	url = https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner.git
